{% for key, value in data2.items() %}

<option name="asset_option" value="T: {{value.asset_tag}}{{ ', ' ~ value.category if value.category }}{{ ', ' ~ value.manufacturers if value.manufacturers }}{{ ', ' ~ value.model if value.model }}{{ ', S/N: ' ~ value.serial if value.serial }}{{ ', ' ~ value.card_number if value.card_number }}">T: {{value.asset_tag}}{{ ', ' ~ value.category if value.category }}{{ ', ' ~ value.manufacturers if value.manufacturers }}{{ ', ' ~ value.model if value.model }}{{ ', S/N: ' ~ value.serial if value.serial }}{{ ', ' ~ value.card_number if value.card_number }}</option>

{% endfor %}

{% if data3 %}
    {% for key, value in data3.items() %}
        <option name="accessories_optiom" value="{{ value['category_name'] if value['category_name'] }}{{ ', ' ~ value['manufacturer_name'] if value['manufacturer_name'] }}{{ ', ' ~ value['accessories_name'] if value['accessories_name'] }}">{{ value['category_name'] if value['category_name'] }}{{ ', ' ~ value['manufacturer_name'] if value['manufacturer_name'] }}{{ ', ' ~ value['accessories_name'] if value['accessories_name'] }}</option>
    {% endfor %}
{% endif %}