<!--{% for key, value in data2.items() %}
<option name="asset_option" value="T: {{value.asset_tag}}{{ ', ' ~ value.category if value.category is defined }}{{ ', ' ~ value.card_number if value.card_number is defined }}{{ ', ' ~ value.card_dec if value.card_dec is defined }}{{ ', ' ~ value.card_hex if value.card_hex is defined }}">T: {{value.asset_tag}}{{ ', ' ~ value.category if value.category is defined }}{{ ', ' ~ value.card_number if value.card_number is defined }}{{ ', ' ~ value.card_dec if value.card_dec is defined }}{{ ', ' ~ value.card_hex if value.card_hex is defined }}</option>
{% endfor %}
-->


{% for key, value in data2.items() %}

<option name="asset_option" value="{{value['asset_tag']}},{{value['card_hex']}},{{value['card_dec']}}">T: {{value['asset_tag']}}{{ ', ' ~ value['category'] if 'category' in value }}{{ ', ' ~ value['card_number'] if 'card_number' in value }}{{ ', ' ~ value['card_dec'] if 'card_dec' in value }}{{ ', ' ~ value['card_hex'] if 'card_hex' in value }}</option>
{% endfor %}