{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
	<form name="submit_buttoni"  method="POST">
        <br>
		<button type="submit" value="proba" name="submit_button" class="btn btn-primary btn-sm" >Generiraj i preuzmi</button>
		<p>Popis osnovnih sredstava koji se <mark>nalaze</mark> u SnipeIT-u</p>
		
		<button type="submit" value="proba2" name="submit_button" class="btn btn-primary btn-sm">Generiraj i preuzmi</button>
		<p>Popis osnovnih sredstava koji se <mark>ne nalaze</mark> u SnipeIt-u</p>
		
		<button type="submit" value="proba3" name="submit_button" class="btn btn-primary btn-sm">Generiraj i preuzmi</button>	
		<p>Popis asseta koji <mark>nisu</mark> u osnovnim sredstvima</p>	

    </form>
    

{% endblock %}


