{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="containerchanges">
    <br>
    <p> Provjera promjena u Snipeit-u između zadanih datuma</p>
    <div class="form-group">
        <form name="date" id="date_id" method="POST">
            <label for="date1">Izaberi pocetni datum:</label>
            <select class="form-select"  id="floatingSelect" aria-label="Floating label select example" name="date1" id="date1">
                {% for o in data %}
                <option name="date1" value="{{ o.name }}">{{ o.date }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="date2">Izaberi krajnji datum:</label>
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="date2" id="date2">
                {% for o in data %}
                <option name="date2" value="{{ o.name }}">{{ o.date }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary btn-sm">Submit and download</button>
        </form>
    </div>
</div>
{% endblock %}