{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
	<form name="date" id="date_id" method="POST">
        <label for="date1">Choose:</label>
		<select name="date1" id="date1" >
			{% for o in data %}

  				<option name="date1" value="{{ o.name }}" >{{ o.date }}</option>
            {% endfor %}
  			
		</select>
		<label for="date2">Choose:</label>
		<select name="date2" id="date2" >
			{% for o in data %}

  				<option name="date2" value="{{ o.name }}" >{{ o.date }}</option>
            {% endfor %}
  			
		</select>
		<button type="submit" class="btn btn-primary btn-sm">Submit and download</button>
    </form>

{% endblock %}


