{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}


<div class="containera">

    <div class="row">
         <div class="col-md-auto">
            <div class="containertest">
                <br>
                <div class="sidebar"  role="tabpanel">
                    
                    <div class="list-group text-center " id="myList" role="tablist">
                        <a class="list-group-item list-group-item-action"  href="#_Toc117496559" >SnipeIT-Framework</a>
                        <a class="list-group-item list-group-item-action"  href="#_Toc117496560" >SnipeIT Changes</a>
                        <a class="list-group-item list-group-item-action"  href="#_Toc117496561" >Reports</a>
                        <a class="list-group-item list-group-item-action"  href="#_Toc117496562" >SnipeIT</a>
                        <a class="list-group-item list-group-item-action"  href="#_Toc117496563" >Docs</a>


                    </div>
                </div>

            </div> 
        </div> 
        
        <div class="col" >
                {% include 'test_extend.html' %}

        </div>
    </div>

</div>


{% endblock %}
